.coolForm{
    text-align: center;
}
.coolForm div{
    margin: auto;
}
.coolForm input {
    border: none;
    border-bottom: 2px solid lightgray;
    width: 250px;
}
.coolForm input:focus{
    outline: none;
}
.line {
    height: 2px;
    width: 0px;
    background-color: blue;
    position: relative;
    top: -2px;
    transition: width 0.5s ease-in-out;
}
.coolForm input:focus ~ .line {
    width: 254px;
}

#chatPlace {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 8%;
    background-color: lightgray;
    text-align: center;
}
#chatPlace input {
    margin: 1%;
    width: 50%;
    height: 50%;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 15px;
}
#chatPlace input:focus {
    outline: none;
}

#headerRight {
    position: relative;
    float: right;
    padding-top: 5px;
    padding-right: 10px;
}

header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 60px;
    background-color: blue;
}
header > *:hover {
    cursor: pointer;
}